body {
  font-family: 'Open Sans', sans-serif;
}

.vcenter {
  border: 1px solid transparent;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

header {
  nav.navbar {
    margin-bottom: 0;
    background-color: transparent;
    border-width: 0 0 1px 0;
    border-color: rgba(225, 225, 225, 0.15);
    
    &.affix {
      background-color: black; 
    }

    &.affix-top {
      background-color: transparent;
    }

    form {
      input {
        height: 2.4em;
        border-radius: 1.2em;
      }

      i.fa {
        margin-left: -2.2em;
        color: rgba(0,0,0,0.3);
      }
    }

    a.navbar-brand {
      .name {
        color: #DF2BEC;
        font-size: 1.2em;
      }

      .tagline {
        color: #FFFFFF;
        font-size: 0.7em;
        padding-left: 0.5em;
      }
    }
  

    &.navbar-default .navbar-nav>li {
      &>a {
        &, &:hover, &:visited, &:link {
          color: #FFF;
          border: 3px solid transparent;
          border-width: 0 0 3px 0;
          transition: border-color 0.3s ease-in;
          background-color: transparent;
        }

        &:hover {
          border-color: #DF2BEC;
        }

      }

      &.active a {
        border-color: #FFF;

        &, &:hover, &:visited, &:link {
          background-color: transparent;
        }
      }
    }
  }
}

footer {
  background-color: black;
  color: #FFFFFF;
  padding: 20vh 0;
}